<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${users}">
  <div>
    <label for="name">First name</label>
    <input type="text" th:field="*{firstName}" id="name"/>

    <br/>

    <label for="surname">Last name</label>
    <input type="text" th:field="*{lastName}" id="surname"/>

    <br/>

    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>

    <label for="username">Email</label>
    <input type="text" th:field="*{email}" id="username"/>

    <br/>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>

    <br><br>

    <label>Roles:</label>

    <th:block th:each="role: ${roleList}">
      <input type="checkbox" th:field="*{roles}"
             th:text="${role.name}" th:value="${role.id}" />
    </th:block>

    <br><br>

  </div>
  <br/>
  <input type="submit" value="Add User"/>
  <br/>
  <a href ="/logout">Logout</a>
</form>


</body>
</html>